{% load static %}

<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

 <!-- Compiled and minified CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->

    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  {% include 'material/includes/material_css.html' %}
  {% include 'material/includes/material_js.html' %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

  <title>
    {% block title %}{% endblock %}
  </title>
    {% block styles %}{% endblock styles %}
</head>

<body>
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <ul class="right hide-on-med-and-down">
      <li><a href="{% url 'lfw:jobappform' %}">Jobappform</a></li>
      <li><a href="{% url 'lfw:index' %}">Index</a></li>
      <li><a href="{% url 'lfw:clbuilder' %}">Coverletter Builder</a></li>
      <li><a href="{% url 'lfw:add_res' %}">Add Resume</a></li>
      <li><a href="{% url 'lfw:skills_input' %}">Add Skill</a></li>
    </ul>
  </div>
</nav>
        
    {% block content%}{% endblock%}
    {% block nav%} 
     <ul class="sidebar-nav">
   {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
   {% endif %}
   {% endblock%}
  </ul>
  {% block scripts %}{% endblock scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</body>
</html>


