<select id="dropdownselector">
    <option value="none">Pick a Jobapp</option>
    {% for x in jobapps %}
    <option value="{{ x.id }}">{{ x.name }}</option>
    {% endfor %}
</select>

{# is there a way to point to the dynamic dropdown entries by class or id? #}

{# if a jobapp has url, show iframe #}
{# if jobapp has url, show it's url #}
<div id = "clframe">
	<iframe id = "coverletter_window" frameborder="0" allowfullscreen  width=" 45%" height="400" style="box-shadow: 0 0 16px gray; margin: 10px;" name="joblisting" id="test"></iframe>
</div>