{% extends 'lfw/base.html' %}
{% load static %}
{% load material_form %}

{% block title %}Builder{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'lfw/clbuilder.css' %}">
{% endblock styles %}
{% block content %}

{% include "lfw/cl_loader.html" with jobapps=jobapps %}

<form action="{% url 'lfw:clbuilder'%}" method="post">
  {% csrf_token %}
  {% form form=form %}{% endform %}
  <button type="submit">Save Coverletter Draft</button>
</form>

{% endblock %}
{% block scripts %}
	<script src="{% static 'lfw/scripts/cl_loader.js' %}"></script>	
{% endblock scripts %}
