<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<div class="elapsed_container">
  <canvas id="elapsed"></canvas>
</div>
  
<script>

fetch('http://localhost:8000/elapsed_json/')
  .then(function(response) {
    return response.json()
  })
  .catch(errors => {
    console.log(errors)
  })
  .then(function(myJson) {
    // console.log(JSON.stringify(myJson));
    displayElapsedChart(myJson)
  });
// the last display chart hasn't gone into this yet

function displayElapsedChart(jobData) {
  var elapsedData = {
    labels: ["0-5", "5-10", "10-15", "15-20", "20-25", "25-30"],
    datasets: [{
      data: jobData,
      backgroundColor: [
        "rgba(0, 100, 255, 0.5)",
        "rgba(255, 0, 0, 0.5)",
        "rgba(100, 255, 0, 0.5)",
        "rgba(226, 226, 64, 0.5)",
        "rgba(170, 35, 245, 0.5)",
        "rgba(135, 35, 245, 0.5)",

      ],
    }]
  };

  var options = {
    legend: {
      postition:'right'
    },
    animation :{
      antimateRotate : false
    }

  };

  var ctx = document.getElementById("elapsed");
  var elapsed = new Chart(ctx, {
      type: 'polarArea',
      data: elapsedData,
      options: options
  });
}

</script>
