<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<div class="elapsed_container">
  <canvas id="lagging"></canvas>
</div>  
<script>
  var timeFormat = 'MM/DD/YYYY HH:mm';

  function newDate(days) {
      return moment().add(days, 'd').toDate();
    }
    function newDateString(days) {
      return moment().add(days, 'd').format(timeFormat);
    }


fetch('http://localhost:8000/elapsed_json/')
  .then(function(response) {
    return response.json()
  })
  .catch(errors => {
    console.log(errors)
  })
  .then(function(myJson) {
    // console.log(JSON.stringify(myJson));
    displayLaggingChart(myJson)
  });
// the last display chart hasn't gone into this yet

function displayLaggingChart(jobData) {
  var laggingData = {
    labels: ['ja1', 'ja2'],
    datasets: [{
      data: [jobData],
    }
]  };

  var options = {
    responsive: true,
    title:{
      display: true,
      text: "titletext"
    },

    scales: {
      xAxes: [{
        type: 'time',
        display: true,
        time: {
          displayFormats:{ day: 'MMM D'},
        }
      }]
  
    }
  };

  var ctx = document.getElementById("lagging");
  var lagging = new Chart(ctx, {
      type: 'horizontalBar',
      data: laggingData,
      options: options
  });
}
</script>