{% extends 'lfw/base.html' %}
{% load static %}
{% block title %}Argo{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'lfw/index.css' %}">

	<div class="container dashboard">
		</div>		        

		<div class="container">
		<div class="row">
			<div class="col s5">
			{%include "lfw/canvas.html" %}
			</div>
		
			<div class="col s7">
			{%include "lfw/display_elapsed.html" %}
			</div>
		</div>
		<div class="row">
			<div class = "col s5">
			{% include "lfw/jobappview.html" %}
			</div>

			<div class= "pipeline">{% include "lfw/pipeline.html" %}</div>
	</div>
{% endblock %}
{% block scripts %}
	<script src="{% static 'lfw/scripts/modal.js' %}"></script>	
{% endblock scripts %}