{% extends 'lfw/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<p>We Get What We Deserve</p>
  {% for job in Jobapp %} 
     {{Jobapp.company}}
     {{Jobapp.jobapp_name}}
  {% endfor %}



<p> “I am not omniscient, but I know a lot.” </p>
	{% include "lfw/Jobappview.html"%}
<p> </p>

<p>submit an entry </p>
<form action="{% url 'lfw:add_entry'%}" method="post">
{% csrf_token %}
<input type="textfield" name="JobappName"/>
<input type="textfield" name="CompanyName"/>
<button type="submit">Submit App Entry</button>
    </form>

{# {% extends "comment_form.html" %} #}
{% endblock %}