{% block content%}

<h4>JobApps</h4>
<table class = "responsive-table highlight">
	<thead>
		<tr>
			<th>name</th>
			<th>description</th>
			<th>company</th>
			<th>contact</th>
			<th>coverletter</th>
			<th>date added</th>
		</tr>
	</thead>
	
{% for item in jobapps %}
	<tbody>
		<tr>
			<td><a href="{% url 'lfw:edit_jobapp' pk=item.pk%}">{{ item.name }}</a></td>
			<td>{{ item.description }}</td>
			<td>{{ item.company }}</td>
			<td>{{ item.contact }}</td>
			<td><a href="{% url 'lfw:cllistview'%}">{{ item.coverletter }}</a></td>
			<td>{{ item.date_created }}</td>
		</tr>
	</tbody>
{% endfor %}
</table>	
{% endblock %}
