{% extends 'lfw/base.html' %}
{% load static %}
{% block content%}


<h4>Job App List View</h4>
<table class = "responsive-table highlight">
	<thead>
		<tr>
			<th>name</th>
			<th>description</th>
			<th>company</th>
			<th>contact</th>
			<th>resume</th>
			<th>coverletter</th>
			<th>date_created</th>
		</tr>
	</thead>
	
{% for item in jobapp %}
	<tbody>
		<tr>
			<td>{{ item.name }}</td>
			<td>{{ item.description }}</td>
			<td>{{ item.company }}</td>
			<td>{{ item.contact }}</td>
			<td>{{ item.resume }}</td>
			<td>{{ item.coverletter }}</td>
			<td>{{ item.date_created }}</td>
		</tr>
	</tbody>
{% endfor %}
</table>	

{% endblock %}


