{% block content %}

<div class = "skillslist">
<table class = "responsive-table highlight" >
	<thead>
		<tr>
			<th>add skill</th>
			<th>name</th>
			<th>copy</th>
			<th>assign to coverletter?</th>
		</tr>
	</thead>
	
{% for x in skills %}
	<tbody>
		<tr>
			<td>
				<label>
				       <input type="checkbox" />
				       <span></span>
				</label>
			</td>
			<td>{{ x.name }}</td>
			<td>{{ x.copy }}</td>
			<td>
				<div class="switch">
				   <label>
				     Yes
				     <input type="checkbox">
				     <span class="lever"></span>
				     No
				   </label>
				 </div>
			</td>

		</tr>
	</tbody>
</div>

{% endfor %}
</table>	

{% endblock %}